// -------------colors ------------//
$dark-grey:     #686868;
$light-blue:    #38d2e3;
$dark-blue:     #5068c2;
$yellow:        #fedd43;
$orange:        #f95b45;
$light-green:   #72df1c;
$green:         #00a59a;
$pink:          #f03a76;
$white:         #fff;
$grey:          #f0f4f7;
