// ----------- Variables ----------//
$primary:       $dark-grey;
$secondary:     $dark-blue;
$success:       $light-green;
$info:          $light-blue;
$warning:       $yellow;
$danger:        $pink;
$accent:        $green;
$light:         $grey;
